// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
.coin-providers-wrapper {
	a:hover {
		cursor: pointer;
	}
	button {
		padding-top: 14px;
		padding-bottom: 14px;
	}
	max-width: 824px;
	h2 {
		color: $comparison_wrapper__title_colour;
  		font-family: Oswald;
 	 	font-size: 20px;
  		font-weight: 400;
  		line-height: 23px;
  		width: 100%;
 		text-align: left;
 		text-transform: uppercase;
	}
	.coin-provider-card {
		padding: 14px;
		background: $card_background_one;
		color: $card_main_font_colour;
		margin-bottom: 14px;
		.card_secondary_typography {
			color: $card_secondary_font_colour;
			margin: 0;
			font-family: Roboto;
 			font-size: 10px;
			font-weight: 400;
			letter-spacing: 1.5px;
			line-height: 16px;
			text-transform: uppercase;
			&.margin-bottom {
				margin-bottom: 7px;
			}
		}
		.coin-provider-index {
			display: inline-block;
			position: relative;
			vertical-align: bottom;
			border-radius: 100%;
		  	width: 30px;
		  	height: 30px;
		  	background: $bright_gold;
		  	color: #FFFFFF;
		  	font-family: Roboto;
		 	font-size: 21px;
		  	font-weight: 500;
		  	line-height: 25px;
		  	text-align: center;
		  	padding-top: 4px;
		  	margin-right: 10px;
		}
		h3 {
			display: inline-block;
			margin: 0;
			font-family: Oswald;
			font-size: 34px;
			font-weight: 400;
			letter-spacing: 0.25px;
			line-height: 39px;
		}
		.coin-provider-rating-wrapper {
			float: right;
			top: 20px;
			position: relative;
		}
		.coin-provider-data {
			border-top: 2px solid $card_borders_colour;
			margin-top: 14px;
			padding-top: 14px;
		}
		.coin-provider-logo {
			button {
				color: $primary;
			  	font-family: Roboto;
			  	font-size: 13px;
			  	font-weight: 500;
			  	line-height: 16px;
			  	text-align: center;
			  	text-transform: uppercase;
			  	margin-top: 14px;
			  	background: white;
			  	border: 2px solid $primary;
			  	&:hover {
			  		color: white;
			  		background: $primary;
			  	}
			}
		}
		.card-list-item {
			font-family: Roboto;
			font-size: 12px;
			font-weight: 500;
			letter-spacing: 0.4px;
			line-height: 19px;
			text-align: left;
			img {
				margin-right: 5px;
			}
		}
		.available-coin {
			img {
				margin: 6px;
			}
			button {
				margin-top: 47px;
				color: #FFFFFF;
				font-family: Roboto;
				font-size: 13px;
				font-weight: 500;
				line-height: 16px;
				text-align: center;
				text-transform: uppercase;
			}
		}
		.card-disclaimer {
			color: $fainter_gray;
			font-family: Roboto;
			font-size: 10px;
			font-weight: 400;
			letter-spacing: 0.33px;
			line-height: 13px;
			margin: 14px 0;
		}
		.show-details {
			p {
				margin: 0;
				margin-bottom: 14px;
				color: $card_show_details_font_colour;
				font-family: Roboto;
				font-size: 12px;
				font-weight: 500;
				letter-spacing: 0.5px;
				line-height: 16px;
				text-align: left;
				text-transform: uppercase;
				&:hover {
					cursor: pointer;
				}
			}
		}
		.card-hidden-details {
			padding: 14px 0;
			background: $card_background_two;
			.card-list-item {
				border-bottom: 1px solid $card_borders_colour;
				padding: 5px 0;
				div {
					display: inline-block;
					vertical-align: top;
					position: relative;
					&.item-label {
						width: 85%;
						font-family: Roboto;
						font-size: 12px;
						font-weight: 400;
						letter-spacing: 0.4px;
						line-height: 16px;
						text-align: left
					}
					&.item-value {
						width: 13%;
						font-family: Roboto;
						font-size: 12px;
						font-weight: 500;
						letter-spacing: 0.4px;
						line-height: 16px;
						text-align: left;
					}
				}
			}
		}
	}
}

.small-screen {
	display: none;
}

@media screen and (max-width:554px) {

	.hide-small {
		display: none;
	}

	.small-screen { 
		display: flex;

		.smaller-icons {
			img {
				margin-bottom: 3px;
			}
		}

		.card_secondary_typography {
			padding-top: 14px;
		}
		button {

			&.full-review {
				width: 100%;
				color: $primary;
			  	font-family: Roboto;
			  	font-size: 13px;
			  	font-weight: 500;
			  	line-height: 16px;
			  	text-align: center;
			  	text-transform: uppercase;
			  	background: white;
			  	border: 2px solid $primary;
			  	margin-bottom: 14px;
			  	&:hover {
			  		color: white;
			  		background: $primary;
			  	}
			}

			&.secondary {
				color: #FFFFFF;
				font-family: Roboto;
				font-size: 13px;
				font-weight: 500;
				line-height: 16px;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}

	.coin-providers-wrapper {
		.coin-provider-card {
			.coin-provider-rating-wrapper {
				display: block;
				float: none;
				position: relative;
				top: 0;
			}
		}
	}
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: black;
  box-sizing: border-box;
  border-bottom: 0;
}

#mobilecarousel {
	min-height: 400px;
}

.full-width {
	width: 100%;
}

.load-more {
	width: 100%;
	color: $card_show_details_font_colour;
  	font-family: Roboto;
  	font-size: 13px;
  	font-weight: 500;
  	line-height: 16px;
  	text-align: center;
  	text-transform: uppercase;
  	margin-top: 14px;
  	background: white;
  	border: 2px solid $card_show_details_font_colour;
  	margin-bottom: 14px;
}



