// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.
@import url('https://fonts.googleapis.com/css?family=Oswald');

$primary: #2E88C4;
$bright_gold: #EB9A11;
$secondary: $bright_gold;
$fainter_gray: #9B9BA6;

// Custom cards ////////////////////////
$comparison_wrapper__title_colour: #D5BE99;

$card_background_one: #F6F6FA;
$card_background_two: #FBFBFF;
$card_main_font_colour: #2A2A2A;
$card_secondary_font_colour: #969595;
$card_borders_colour: #E3E3F0;
$card_show_details_font_colour: #2E88C4;
