<div class="coin-providers-wrapper row">
	<h2>{{current_post.post_title}}</h2>

	{% for card in current_post.get_field('cards') %}

		{% set card_identifier = loop.index %}
		
		<div id="provider-card-{{card_identifier}}" class="coin-provider-card col-12">
			<div class="coin-provider-index">{{loop.index}}</div>
			<h3>{{card.provider_name}}</h3>
			<div class="coin-provider-rating-wrapper">
				<span class="card_secondary_typography">
					Our rating
				</span>
				{% for star in card.provider_rating %}
					<p>test</p>
				{% endfor %}

				{% for star in 1..card.provider_rating %}
					<img src="{{assets_url}}star_full.svg">
				{% endfor %}

				{% set empty_stars = 0 %}
				{% set empty_stars = 5 - card.provider_rating %}
				{% if empty_stars > 0 %}
					{% for empty in 1..empty_stars %}
						<img src="{{assets_url}}star_empty.svg">
					{% endfor %}
				{% endif %}
			</div>

			<div class="coin-provider-data">
				<div class="row hide-small">
					<div class="coin-provider-logo col-4 text-center hidden-sm-down">
						<img src="{{card.provider_logo}}">
						<a href="{{card.buy_coin_url}}" target="_blank">
							<button type="button" class="btn w-75">
								Full Review
							</button>
						</a>
					</div>
					<div class="col-3">
						<p class="card_secondary_typography margin-bottom">
							What we like
						</p>
						{% for item in card.what_we_like %}
							<div class="card-list-item">
								<img src="{{assets_url}}check.svg">
								{{item.item_text}}
							</div>
						{% endfor %}
					</div>
					<div class="col-2">
						<p class="card_secondary_typography margin-bottom">
							Deposit method
						</p>
						{% for item in card.deposit_method %}
							<div class="card-list-item">
								{{item.method}}
							</div>
						{% endfor %}
					</div>
					<div class="available-coin col-3">
						<p class="card_secondary_typography margin-bottom">
							Available coin
						</p>
						<div>
							{% for key, coin in card.available_coin %}
								{% if key < 8 %}
									<img src="{{assets_url}}coins/{{coin.value}}.svg" alt="{{coin.label}}">
								{% endif %}
							{% endfor %}
						</div>
						<a href="{{card.buy_coin_url}}" target="_blank">
							<button type="button" class="btn btn-secondary w-100">
								Buy Coin
							</button>
						</a>
					</div>
				</div>
			</div>

			<!--- =========== MOBILE ================== -->
			<div class="row small-screen">
				<div class="col-6">
					<img src="{{card.provider_logo}}">
				</div>
				<div class="col-6">
					<a href="{{function('get_permalink', card.full_review_post.ID)}}" target="_blank">
						<button type="button" class="btn full-review">
							Full Review
						</button>
					</a>
					<a href="{{card.buy_coin_url}}" target="_blank">
						<button type="button" class="btn btn-secondary w-100">
							Buy Coin
						</button>
					</a>
				</div>
				<div class="col-6">
					<p class="card_secondary_typography margin-bottom">
						What we like
					</p>
					{% for item in card.what_we_like %}
						<div class="card-list-item">
							<img src="{{assets_url}}check.svg">
							{{item.item_text}}
						</div>
					{% endfor %}
				</div>
				<div class="col-6">
					<p class="card_secondary_typography margin-bottom">
						Available coin
					</p>
					<div class="smaller-icons">
						{% for key, coin in card.available_coin %}
							{% if key < 8 %}
								<img src="{{assets_url}}coins/{{coin.value}}.svg" alt="{{coin.label}}">
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
			<!--- =========== MOBILE ================== -->


			<div class="card-disclaimer col-12">
				{{card.disclaimer}}
			</div>

			<div class="show-details col-12">
				<p class="text-center show-more" data-toggle="collapse" data-target="#collapse_{{card_identifier}}">
					Show details <i class="fa fa-chevron-down"></i>
				</p>
			</div>

			<div id="collapse_{{card_identifier}}" class="card-hidden-details collapse">
				<div class="row justify-content-center hide-small">
					<div class="col-3">
						<p class="card_secondary_typography margin-bottom">
							Account information
						</p>
						<div class="card-list-item">
							<div class="item-label">
								Deposit In
							</div>
							<div class="item-value">
								{{card.deposit_in}}
							</div>
						</div>
						<div class="card-list-item">
							<div class="item-label">
								Includes Wallet
							</div>
							<div class="item-value">
								{% if card.includes_wallet == true %}
									<img src="{{assets_url}}check.svg">
								{% else %}
									<img src="{{assets_url}}cross.svg">
								{% endif %}
							</div>
						</div>
						<div class="card-list-item">
							<div class="item-label">
								Min Deposit
							</div>
							<div class="item-value">
								${{card.min_deposit}}
							</div>
						</div>
						<div class="card-list-item">
							<div class="item-label">
								Min Trade
							</div>
							<div class="item-value">
								${{card.min_trade}}
							</div>
						</div>
						<div class="card-list-item">
							<div class="item-label">
								Leverage
							</div>
							<div class="item-value">
								{{card.leverage}}
							</div>
						</div>
						<div class="card-list-item">
							<div class="item-label">
								Deposit Fees
							</div>
							<div class="item-value">
								{{card.deposit_fees}}
							</div>
						</div>
						<div class="card-list-item">
							<div class="item-label">
								Trade Fees
							</div>
							<div class="item-value">
								{{card.trade_fees}}
							</div>
						</div>
						<div class="card-list-item">
							<div class="item-label">
								Withdrawal fees
							</div>
							<div class="item-value">
								{{card.withdrawal_fees}}
							</div>
						</div>
						<div class="card-list-item">
							<div class="item-label">
								Margin Trading
							</div>
							<div class="item-value">
								{% if card.margin_trading == true %}
									<img src="{{assets_url}}check.svg">
								{% else %}
									<img src="{{assets_url}}cross.svg">
								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-3">
						<p class="card_secondary_typography margin-bottom">
							Research
						</p>
						{% for item in card.research %}
							<div class="card-list-item">
								<div class="item-label">
								{{item.label}}
								</div>
								<div class="item-value">
									{{item.value}}
									{% if item.icon == 'true' %}
										<img src="{{assets_url}}check.svg">
									{% else %}
										<img src="{{assets_url}}cross.svg">
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="col-3">
						<p class="card_secondary_typography margin-bottom">
							Security
						</p>
						{% for item in card.security %}
							<div class="card-list-item">
								<div class="item-label">
								{{item.label}}
								</div>
								<div class="item-value">
									{{item.value}}
									{% if item.icon == 'true' %}
										<img src="{{assets_url}}check.svg">
									{% else %}
										<img src="{{assets_url}}cross.svg">
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<!--- =========== MOBILE ================== -->
				<div class="row small-screen">
					

					<div id="mobilecarousel" class="carousel slide col-12" data-ride="carousel">
						<ol class="carousel-indicators">
					    	<li data-target="#mobilecarousel" data-slide-to="0" class="active"></li>
					    	<li data-target="#mobilecarousel" data-slide-to="1"></li>
					    	<li data-target="#mobilecarousel" data-slide-to="2"></li>
					  	</ol>
					  	<div class="carousel-inner">
					    	<div class="carousel-item active">
					      		<div class="col-12">
									<p class="card_secondary_typography margin-bottom">
										Account information
									</p>
									<div class="card-list-item">
										<div class="item-label">
											Deposit In
										</div>
										<div class="item-value">
											{{card.deposit_in}}
										</div>
									</div>
									<div class="card-list-item">
										<div class="item-label">
											Includes Wallet
										</div>
										<div class="item-value">
											{% if card.includes_wallet == true %}
												<img src="{{assets_url}}check.svg">
											{% else %}
												<img src="{{assets_url}}cross.svg">
											{% endif %}
										</div>
									</div>
									<div class="card-list-item">
										<div class="item-label">
											Min Deposit
										</div>
										<div class="item-value">
											${{card.min_deposit}}
										</div>
									</div>
									<div class="card-list-item">
										<div class="item-label">
											Min Trade
										</div>
										<div class="item-value">
											${{card.min_trade}}
										</div>
									</div>
									<div class="card-list-item">
										<div class="item-label">
											Leverage
										</div>
										<div class="item-value">
											{{card.leverage}}
										</div>
									</div>
									<div class="card-list-item">
										<div class="item-label">
											Deposit Fees
										</div>
										<div class="item-value">
											{{card.deposit_fees}}
										</div>
									</div>
									<div class="card-list-item">
										<div class="item-label">
											Trade Fees
										</div>
										<div class="item-value">
											{{card.trade_fees}}
										</div>
									</div>
									<div class="card-list-item">
										<div class="item-label">
											Withdrawal fees
										</div>
										<div class="item-value">
											{{card.withdrawal_fees}}
										</div>
									</div>
									<div class="card-list-item">
										<div class="item-label">
											Margin Trading
										</div>
										<div class="item-value">
											{% if card.margin_trading == true %}
												<img src="{{assets_url}}check.svg">
											{% else %}
												<img src="{{assets_url}}cross.svg">
											{% endif %}
										</div>
									</div>
								</div>
					    	</div>
					    	<div class="carousel-item">
					      		<div class="col-12">
									<p class="card_secondary_typography margin-bottom">
										Research
									</p>
									{% for item in card.research %}
										<div class="card-list-item">
											<div class="item-label">
											{{item.label}}
											</div>
											<div class="item-value">
												{{item.value}}
												{% if item.icon == 'true' %}
													<img src="{{assets_url}}check.svg">
												{% else %}
													<img src="{{assets_url}}cross.svg">
												{% endif %}
											</div>
										</div>
									{% endfor %}
								</div>
					    	</div>
					    	<div class="carousel-item">
					      		<div class="col-12">
									<p class="card_secondary_typography margin-bottom">
										Security
									</p>
									{% for item in card.security %}
										<div class="card-list-item">
											<div class="item-label">
											{{item.label}}
											</div>
											<div class="item-value">
												{{item.value}}
												{% if item.icon == 'true' %}
													<img src="{{assets_url}}check.svg">
												{% else %}
													<img src="{{assets_url}}cross.svg">
												{% endif %}
											</div>
										</div>
									{% endfor %}
								</div>
					    	</div>
					  	</div>
					  	<a class="carousel-control-prev" href="#mobilecarousel" role="button" data-slide="prev">
					    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    	<span class="sr-only">Previous</span>
					  	</a>
					  	<a class="carousel-control-next" href="#mobilecarousel" role="button" data-slide="next">
					    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
					    	<span class="sr-only">Next</span>
					  	</a>
					</div>


				</div>
				<!--- =========== MOBILE ================== -->
			</div>
		</div>
	{% endfor %}

	<a class="full-width" href="#">
		<button type="button" class="btn load-more">
			Load 5 More Rows
		</button>
	</a>

</div>